---
title: Daxit's Portfolio
---

<header>
  <div class="logo">
  <div class="logo_char">D</div>
  <div class="logo_char">A</div>
  </div>

</header>

<main>
<h2 class="subtitle">Hi, I'm Daxit Agarwal</h2>
<h1 class="title">
  A Creative Technologist <br> who delivers immersive <br> digital experiences.
</h1>

</main>

<div class="about">
  <h3 class="about_text">About</h3>
  <svg class="about_bkg" preserveAspectRatio="none" viewBox="0 0 100 100">
      <polygon points="100,100 100,0 0,100" opacity="1"></polygon>
  </svg>
</div>
<div class="work">
  <h3 class="work_text">Work</h3>
  <svg class="work_bkg" preserveAspectRatio="none" viewBox="0 0 100 100">
      <polygon points="100,100 100,0 0,100" opacity="1"></polygon>
  </svg>
</div>